<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ViewAllDonatePostServlet</servlet-name>
        <servlet-class>controller.ViewAllDonatePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCreateDonatePostServlet</servlet-name>
        <servlet-class>controller.ShowCreateDonatePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewDonatePostServlet</servlet-name>
        <servlet-class>controller.CreateNewDonatePostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewAllDonatePostServlet</servlet-name>
        <url-pattern>/ViewAllDonatePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCreateDonatePostServlet</servlet-name>
        <url-pattern>/ShowCreateDonatePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewDonatePostServlet</servlet-name>
        <url-pattern>/CreateNewDonatePost</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
